*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
header{
    width: 100%;
    height: 46%;
    display: flex;
    background-color: #18835d;
    color: #eefbf4;
}
.container-1{
    width: 50%;
    height: 80%;
}
.img-1{
    width: 9rem;
    height: 11rem;
    margin-top: 2rem;
    margin-left: 1rem;
    border-radius: 10px;
}
.container-1 > h1{
    font-size: 1.3rem;
    text-align: center;
}
.container-2{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}
.container-2 >h4{
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: #eefbf4;
}
.container-2 >p{
    text-align: center;
}
.section-projects{
    width: 100%;
    height: 45rem;
}
.title-section1{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-top: 0.8rem;
}
.title-section1 >h2{
    color: black;
    text-align: left;
}
.section-projects >hr{
    background-color: #104433;
    width: 100%;
    height: 0.6rem;
    margin-top: 0.7rem;
}
.content-img{
    width: 2.5rem;
    height: 2.5rem;
    background-color:#b1e9cc;
    border-radius: 50%;
}
.content-img >img{
    width: 2.5rem;
    height: 2.5rem;
}
.container-blocks{
    width: 88%;
    height: 80%;
    justify-content: center;
    margin-left: 3.2rem;
}
.blocks{
    width: 88%;
    height: 25%;
    background-color: #26a373;
    display: flex;
    border-radius: 10px;
    color: #08261d;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.blocks >img{
    width: 8rem;
    height: 7rem;
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 10px;
}
.text-block{
    margin-left: 1rem;
    margin-top: 1rem;
}
.section-references{
    width: 100%;
    height: 80%;
}
.section-references >hr{
    background-color: #104433;
    width: 100%;
    height: 0.6rem;
    margin-top: 0.7rem;
}
.blocks-references{
    width: 60%;
    height: 25%;
    background-color: #7ed7b0;
    margin-left: 5.5rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.text-references{
    text-align: left;
    align-items: center;
    margin-left: 2rem;
}
.text-references >p{
    margin-bottom: 0.2rem;
}
.section-experience{
    width: 100%;
    height: 60%;
}
.section-experience >hr{
    background-color: #104433;
    width: 100%;
    height: 0.6rem;
    margin-top: 0.7rem;
}
.content-experience{
    width: 100%;
    height: 40%;
    display: flex;
    margin-top: 1rem;
}
.img-experience{
    width: 100%;
    height: 100%;
    text-align: center;
}
.img-experience >img{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}
.content-progress{
    display: flex;
    justify-content: center;
}
.progress {
    height: 1.3rem;
    width: 70%;
    border-radius: 15px;
    background-color: #b1e9cc;
    margin-bottom: 0.2rem;
    margin-top: 0.5rem;
}
 
.progress-bar {
    height: 100%;
    background: #18835d;
    display: flex;
    align-items: center;
    border-radius: 15px;
}

@media screen and (min-width: 430px) and (max-width: 479px) {
    header{
        width: 100%;
        height: 30%;
        display: flex;
        background-color: #18835d;
        color: #eefbf4;
    }
    .container-1 > h1{
        margin-right: 1.6rem;
    }
    .blocks-references{
        width: 65%;
        height: 26%;
        background-color: #7ed7b0;
        margin-left: 5rem;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        border-radius: 10px;
    }
    .section-references{
        width: 100%;
        height: 59%;
    }
    .section-experience{
        width: 100%;
        height: 50%;
    }
    .content-experience{
        width: 100%;
        height: 30%;
        display: flex;
        margin-top: 2.5rem;
    }
    .img-experience >p{
        text-align: center;
        margin-top: 1rem;
    }

}
@media screen and (min-width: 480px) and (max-width: 819px) {
    header{
        width: 100%;
        height: 30%;
        display: flex;
        background-color: #18835d;
        color: #eefbf4;
    }
    .container-1{
        width: 50%;
        height: 80%;
        margin-left: 1rem;
    }
    .container-2{
        width: 50%;
        height: 80%;
        display: flex;
        flex-direction: column;
        margin-right: 1.5rem;
    }
    .container-1 > h1{
        margin-right: 2.5rem;
        text-align: center;
    }
    .blocks-references{
        width: 65%;
        height: 26%;
        background-color: #7ed7b0;
        margin-left: 5rem;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        border-radius: 10px;
    }
    .section-references{
        width: 100%;
        height: 56%;
    }
    .section-experience{
        width: 100%;
        height: 50%;
    }
    .content-experience{
        width: 100%;
        height: 30%;
        display: flex;
        margin-top: 2.5rem;
    }
}
@media screen and (min-width: 820px) and (max-width: 1558px) {
    header{
        width: 100%;
        height: 25%;
        display: flex;
        background-color: #18835d;
        color: #eefbf4;
    }
    .container-1{
        width: 45%;
        height: 80%;
        margin-left: 1rem;
    }
    .container-2{
        width: 50%;
        height: 80%;
        display: flex;
        flex-direction: column;
        margin-right: 3rem;
        margin-top: 4rem;
    }
    .container-1 > h1{
        margin-right: 2.5rem;
        text-align: center;
    }
    .img-1{
        width: 9rem;
        height: 11rem;
        margin-top: 3rem;
        margin-left: 5rem;
        border-radius: 10px;
    }
    .container-blocks{
        width: 88%;
        height: 80%;
        margin-left: 5.4rem;
    }
    .section-references{
        width: 100%;
        height: 57%;
    }
    .blocks-references{
        width: 78%;
        height: 27%;
        background-color: #7ed7b0;
        margin-left: 5.5rem;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        border-radius: 10px;
    }
    .text-references{
        text-align: left;
        align-items: center;
        margin-left: 2rem;
    }
    .text-references >p{
        margin-bottom: 0.5rem;
    }
    .section-experience{
        width: 100%;
        height: 50%;
    }
    .content-experience{
        width: 100%;
        height: 30%;
        display: flex;
        margin-top: 2.5rem;
        justify-content: center;
    }
    .img-experience{
        width: 40%;
        height: 100%;
        text-align: center;
    }
    .text-block >h4{
        margin-left: 12rem;
        margin-bottom: 0.7rem;
        font-size: 1.5rem;
    }
    .text-block >p{
        margin-right: 1rem;
        margin-left: 0.2rem;
        margin-bottom: 0.7rem;
    }
    .img-experience >img{
        margin-bottom: 1rem;
    }
}
@media screen and (min-width: 1559px) and (max-width: 1800px) {
    header{
        width: 16.5rem;
        height: 100%;
        padding-top: 2rem;
        background-color: #18835d;
        color: #eefbf4;
        position: fixed;
        flex-direction: column;
    }
    body{
        width: 100%;
        height: 100vh;
    }
    .container-1{
        width: 100%;
        height: 35%;
        margin-bottom: 2rem;
    }
    .container-1 >h1{
        font-size: 2.2rem;
    }
    .container-2{
        width: 80%;
        height: 35%;
        display: flex;
        flex-direction: column;
        margin-left: 1.5rem;
    }
    .container-2 >h4{
        font-size: 2rem;
        margin-bottom: 1.2rem;
    }
    .container-2 >p{
        font-size: 1.3rem;
    }
    .img-1{
        margin-left: 4rem;
        margin-bottom: 1rem;
    }
    .section-projects{
        width: 80%;
        height: 45rem;
        margin-left: 18rem;
    }
    .text-block >h4{
        margin-left: 0.8rem;
        margin-bottom: 0.7rem;
        font-size: 1.8rem;
    }
    .text-block >p{
        margin-right: 1rem;
        margin-left: 0.8rem;
        margin-bottom: 0.7rem;
        font-size: 1.3rem;
    }
    .text-block >a{
        margin-left: 0.8rem;
        font-size: 1.3rem;
    }
    .title-section1 >h2{
        margin-left: 0.8rem;
        font-size: 2rem;
    }
    .section-references{
        margin-left: 18rem;
        width: 80%;
        height: 60%;
    }
    .blocks-references{
        width: 78%;
        height: 26%;
        background-color: #7ed7b0;
        margin-left: 8.9rem;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        border-radius: 10px;
    }
    .text-references{
        text-align: left;
        align-items: center;
        margin-left: 2rem;
    }
    .text-references >p{
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
    }
    .section-experience{
        margin-left: 18rem;
        width: 80%;
    }
    .content-experience{
        width: 100%;
        height: 38%;
        display: flex;
        margin-bottom: 2rem;
        justify-content: center;
    }
    .img-experience{
        width: 40%;
        height: 100%;
        text-align: center;
    }
    .img-experience >img{
        margin-bottom: 1rem;
        width: 9rem;
        height: 9rem;
    }
    .img-experience >p{
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    .progress{
        width: 60%;
    }
    .blocks{
        margin-left: 6rem;
    }
    
}