*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
header{
    width: 100%;
    height: 46%;
    display: flex;
    background-color: #18835d;
    color: #eefbf4;
}
.container-1{
    width: 50%;
    height: 80%;
}
.img-1{
    width: 9rem;
    height: 11rem;
    margin-top: 2rem;
    margin-left: 1rem;
    border-radius: 10px;
}
.container-1 > h1{
    font-size: 1.3rem;
    text-align: center;
}
.container-2{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}
.container-2 >h4{
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: #eefbf4;
}
.container-2 >p{
    text-align: center;
}
.section-projects{
    width: 100%;
    height: 45rem;
}
.title-section1{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-top: 0.8rem;
}
.title-section1 >h2{
    color: black;
    text-align: left;
}
.section-projects >hr{
    background-color: #104433;
    width: 98%;
    height: 0.6rem;
    margin: 0.7rem;
}
.content-img{
    width: 2.5rem;
    height: 2.5rem;
    background-color:#b1e9cc;
    border-radius: 50%;
}
.content-img >img{
    width: 2.5rem;
    height: 2.5rem;
}
.container-blocks{
    width: 97%;
    height: 80%;
    justify-content: center;
    margin-left: 2.2rem;
}
.blocks{
    width: 85%;
    height: 25%;
    background-color: #26a373;
    display: flex;
    border-radius: 10px;
    color: #08261d;
    margin-bottom: 1rem;
}
.blocks >img{
    width: 8rem;
    height: 7rem;
    margin-top: 1rem;
    margin-left: 1rem;
}
.text-block{
    margin-left: 1rem;
    margin-top: 1rem;
}
.section-references{
    width: 100%;
    height: 80%;
}
.section-references >hr{
    background-color: #104433;
    width: 98%;
    height: 0.6rem;
    margin: 0.7rem;
}
.blocks-references{
    width: 60%;
    height: 25%;
    background-color: #7ed7b0;
    margin-left: 5.5rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.text-references{
    text-align: left;
    align-items: center;
    margin-left: 2rem;
}
.text-references >p{
    margin-bottom: 0.2rem;
}
.section-experience{
    width: 100%;
    height: 60%;
}
.content-experience{
    width: 100%;
    height: 40%;
    display: flex;
    margin-top: 1rem;
}
.img-experience{
    width: 100%;
    height: 100%;
    text-align: center;
}
.img-experience >img{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}
.content-progress{
    display: flex;
    justify-content: center;
}
.progress {
    height: 1.3rem;
    width: 70%;
    border-radius: 15px;
    background-color: #b1e9cc;
    margin-bottom: 0.2rem;
    margin-top: 0.5rem;
}
 
.progress-bar {
    height: 100%;
    background: #18835d;
    display: flex;
    align-items: center;
    border-radius: 15px;
}
